
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background:#0f172a;
    color:#fff;
    line-height:1.6;
    transition:.3s;
}
body.light{
    background:#f4f4f4;
    color:#222;
}
header{
    position:sticky;
    top:0;background:#111827;
    padding:15px;
}
body.light header{
    background:#fff;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1100px;
    margin:auto;
}
ul{
    display:flex;
    gap:20px;
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
.hero{
    min-height:70vh;
    display:grid;
    place-items:center;
    text-align:center;
    background:linear-gradient(135deg,#2563eb,#7c3aed);
}
section{
    max-width:1100px;
    margin:auto;
    padding:70px 20px;
}
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px
}
.card{
    background:rgba(255,255,255,.08);
    padding:20px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,.15);
    transition:.3s;
}
.card:hover{
    transform:translateY(-8px);
}
.btn{
    display:inline-block;
    background:#2563eb;
    color:#fff;
    padding:10px 18px;
    border-radius:8px;
    margin-top:15px;
}
form{
    display:flex;
    flex-direction:column;
    gap:12px;
}
input,textarea{
    padding:8px;
    border-radius:8px;
    border:none;
}
button{
    cursor:pointer;
    border:none;
}
footer{
    text-align:center;padding:20px;
}
